@import url('./overlay.css');

.siden {
    width: 240px;
    background: var(--color-primario);
    position: absolute;
    height: calc(100vh - 50px);
    padding: 0 30px;
    left: -100%;
    transition: all 0.3s;
    font-family: var(--fuente-contenido);
    z-index: 2;
}

.siden > h2{
    color: var(--color-fuente-primario);
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
}

.siden.active{
    left: 0;
}

.siden > ul{
    padding: 0;
}

.siden > ul:first-child{
    margin-top: 20px;
}

.siden > ul li{
    list-style-type: none;
    margin: 10px 0;
    height: 35px;
}

.siden > ul li a{
    color: var(--color-fuente-primario);
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 12px 15px;
    border-radius: 6px;
}

.siden > ul li a svg{
    margin-right: 10px;
}

.siden > ul li a:hover,
.siden > ul li a.active{
    background: var(--color-cuaternario);
    font-weight: bold;
}