.categoria__buscador{
    font-family: var(--fuente-contenido), serif;
    width: 50%;
    margin-left: 20px;
    padding: 10px 8px;
    border-radius: 16px;
    font-size: large;
    border-style: solid;
}

.categoria__buscador:focus{
    outline: none;
}